.chatPage {
  padding: 2rem;
  background-color: #f9fdfb;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.chatBackBtn {
  background-color: white;
  border: none;
  color: #2e7d32;
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  padding: 10px 20px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  white-space: nowrap;
}

.chatBackBtn:hover {
  background-color: #2e7d32;
  color: white;
  text-decoration: underline;
}


.chatContainer {
  background-color: white;
  border-radius: 1.25rem;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.chatContainer h2 {
  margin-bottom: 0.3rem;
  color: #2e7d32;
  text-align: center;
}

.chatSearchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1.5px solid #ccc;
  border-radius: 999px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.chatUserList h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #222;
}

.chatUserCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1fdf4;
  padding: 0.75rem 1rem;
  border-radius: 999px;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.chatUserCard p {
  margin: 0;
  font-weight: 500;
  color: #333;
}

.chatUserCard button {
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.chatUserCard button:hover {
  background-color: #1b5e20;
}

.chatError {
  color: red;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.chatsubtitle {
  text-align: center;
  font-size: 1rem;
  color: #555;
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipTarget {
  font-weight: 600;
  color: #2e7d32;
}

.customTooltip {
  visibility: hidden;
  background-color: #2e7d32;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 10;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipWrapper:hover .customTooltip {
  visibility: visible;
  opacity: 1;
}
